/* -------------------------------------------450px...................................................... */
@media (max-width:700px) {   
    .header{
        margin: 0;
        padding: 0;
    }
    .navbar-section{
        padding-top: 1rem;
    }
    .navbar__logo{
        margin: 0;
    }
    .navbar__logo figure{
        width: 10rem;
        height: auto;
    }
    .icono{
        margin: .5rem;
        width: 2.5rem;
        height: 2.5rem;
    }
    .iconTrue i,
    .iconFalse i{
        display: flex;
        justify-content: center;
        width: 2.5rem;
        font-size: 1.8rem;
    }
    .nav-main{
        top: 5rem;
    }
    .ul-lista.uno{
        height: 0;
    }
    .uno li{
        display: none;
    }
    .dos li a{
        margin: 0;
        padding: 1.5rem;
        font-size: 1.1rem;
    }
        .li__nosotros i{ 
            padding-top: .3rem;
            font-size: .8rem;
            color: #0000007c;
        }
        .nosotros-menu--li{
            margin-left: 1.5rem;
        }
    .ul-lista.dos{
        height: auto;
    }


    .textos-header{
        margin: 0;
        padding: 1rem 1rem 1rem 1.5rem;
    }
    .textos-header__h1 h1{
        font-size: 1.7rem;
    }
    .button-know{
        margin: 0;
        padding: .8rem;
    }
    .button-know p{
        font-size: 1.1rem;
    }

    .divsection__video{
        padding: 1rem;
    }
    .div__infovideo--index{
        width: 100%;
        padding: 0;
        margin: 0 2rem 0 0;
    }
    .h2__infovideo{
        font-size: 1.5rem;
    }
    .div__infovideo--index p{
        margin: 0;
        font-size: 1rem;
        font-weight: 400;
    }

    .div__video--index{
        margin: 0;
        width: 100%;
        height: auto;
    }
    .div__video--index iframe{
        width: 100%;
        height: 14rem;
    }


    .footer{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .grupo-1{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100vw;
        padding: 0 1rem 1rem;
    }
        .box-1{
            width: auto;
            height: auto;
        }
            .footer__logo{
                display: flex;
                justify-content: center;
            }
            .footer__logo img{
                width: 16rem;
                height: auto;
            }
        .box-2{
            gap: 1.5rem;
        }
        .box-2 h2{
            padding: 0;
        }
        .know h3{
            font-size: 1rem;
            font-weight: 300;
        }

        .box-3{
            gap: 1.5rem;
        }
        .box-3 h2{
            padding: 0;
        }
        .items{
            width: 100%;
        }
            .items ul{
                font-weight: 300;
            }
        .icons-social-footer{
            display: flex;
            justify-content: center;
            padding: 0;
        }

        .grupo-2{
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
            gap: 1rem;
            padding: 1rem 0;
        }
        .grupo-2 img{
            width: 12rem;
        }
        .grupo-3{
            flex-direction: column;
            align-items: center;
        }
        .grupo-3 small{
            text-align: center;
            font-weight: 300;
        }
}