@media (max-width:850px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    .header-index {
        width: 100%;
        height: 800px;
        overflow: hidden;
        background: -webkit-linear-gradient(to right, hsla(152, 72%, 30%, 0.808), hsla(187, 47%, 71%, 0.767)), url(../img/fusa8.jpg);
        background: linear-gradient(to right, hsla(27, 34%, 31%, 0.356), hsla(180, 3%, 19%, 0.562)), url(../img/fusa8.jpg);
        background-size: cover;
        background-attachment: fixed;
        position: relative;
    }

/* /////////////////////////////////NAVBAR////////////////////////////////// */
.navbar-section{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 12%;
    padding: 0rem 1rem;
    transition: background 1s ease;
        /*Configuracióndelatransición*/
        -webkit-transition: background 1s ease;
        -moz-transition: background 1s ease;
        -ms-transition: background 1s ease;
        -o-transition: background 1s ease;
        -webkit-transition: background 1s ease;
}
.navbar__logo{
    width: auto;
    height: auto;
}
.navbar__logo figure{
    width: 100%;
    height: 100%;
}
    .icono{
        display: flex;
        justify-content: center;
        height: 100%;
        width: 70px;
        align-items: center;
        color: white;
        background-color: transparent;
        z-index: 100;
        cursor: pointer;
    }
    .icono span{
        font-size: 3.5rem;
    }
    .icono .iconFalse{
        display: none;
    }
    .icono.activo .iconTrue{
        display: none;
    }
    .icono.activo .iconFalse{
        display: block;
    }
    
.nav-main{
    position: fixed;
    display: flex;
    right: 0;
}
.ul-lista{
    position: fixed;
    right: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #073A54;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    gap: 2rem;
}
    .ul-lista li{
        display: grid;
        place-content: center;
        padding: 0;
    }
    .ul-lista a{
        width: 100%;
        padding: 1rem 7rem;
        font-size: 1.5rem;
        text-align: center;
        text-align: center;
        justify-content: center;
    }
    .ul-lista .active{
        width: 100%;
        padding: 1rem 7rem;
        font-size: 2.5rem;
        font-weight: 900;
        color: #1de4d0;
        text-align: center;
        justify-content: center;
}


.ul-lista a:hover, .active{
    border-bottom: none;
}

.icons-social__nav{
    display: none;
}

.uno{
        -webkit-clip-path: circle(0% at 100% 0%);
        clip-path: circle(0% at 100% 0%);
    }
.dos{
        -webkit-clip-path: circle(150% at 100% 0%);
        clip-path: circle(150% at 100% 0%);
    }

/* HEADER ----------------------------------------------------------------*/
    .textos-header{
        display: flex;
        flex-direction: column;
    }  
        .textos-header h1{
            font-size: 3rem;
        }

/* NOSOTROS -------------------------------------------------------------------*/
.nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0;
}
.nosotros .titulo{
    width: 100vw;
}
.nosotros .descripcion{
    width: 100vw;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .nosotros .descripcion p{
        width: 100%;
    }

.nosotros .us-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 2rem;
}

/* PORTAFOLIO  -----------------------------------------------------------*/
.portafolio{
    display: flex;
    justify-content: center;
}
    .lightbox .isActive {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    .lightbox .div-close{
        justify-content: center;
        height: 5rem;
    }
    .div-close .close{
        height: 3rem;
        width: 3rem;
    }
    .lightbox .grande{
        width: 90%;
        height: max-content;
    }


/* CONTACT - FORMULARIO --------------------------------------------*/

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 1.2rem;
}
.contact-info h2{
    text-align: center;
}
    .items-contact ul li{
        font-size: 1.2rem;
        font-weight: 900;
    }
    .icons-social-contact i{
        justify-content: center;
        font-size: 2rem;
    }


/* SLIDER ---------------------------------------------------------*/

.slider-container{
    display: grid;
    place-content: center;
    height: auto;
    width: auto;
}
    .slider-container .slider-arrow{
        height: 100%;
        width: 100%;
    }
.slider-container .slider-body{
    display: flex;
    flex-direction: column;
    height: 35rem;
    justify-content: space-between;
}
    .slider-body .slider-textos{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        height: 15rem;
        justify-content: center;
    }
    .slider-body .slider-textos .subtitle{
        font-size: 3rem;
        margin: 0;
    }
    .slider-body .slider-textos p{
        font-size: 1.8rem;
    }



/* /////////////////////////////////FOOTER////////////////////////////////// */
.footer{
    background-color: #073A54;
    font-family: 'Nunito Sans', sans-serif;
    width: 100vw;
    display: grid;
    grid-template-rows: 3 auto;
    overflow: hidden;
}
    .grupo-1{
        width: 100vw;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        justify-content: space-evenly;
        height: auto;
        padding: 20px 15px 30px 15px;
        border-bottom: 1px solid #17C3B2;
    }
    .box-1{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100%;
    }
    .box-1 .footer__logo{
        width: 220px;
        height: 200px;
    }
    .box-1 img{
        width: 100%;
        height: 100%;
    }
    .box-1 h2{
        font-size: 1rem;
    }
    .box-2 h2{
        color: #fff;
        padding-bottom: 0;
        font-size: 2rem;
    }
    .box-2 .know{
        gap: .5rem;
    }
    .box-3 h2{
        color: #fff;
        padding-bottom: 0;
        font-size: 2rem;
    }
    .box-3 .items{
        text-align: start;
        gap: .25rem;
    }
    .box-3 .icons-social-footer{
        place-content: center;
    }
.grupo-2{
    display: flex;
    flex-flow: column;
    gap: 1.2rem;
    width: 100vw;
    height: auto;
    padding: 2rem 0 2rem 0;
    border-bottom: 1px solid #17C3B2;
}
.grupo-3{
    display: grid;
    place-content: center;
    flex-flow: column;
    text-align: center;
    gap: 1rem;
    padding: 1.5rem 0 2.5rem 0;
    color: #fff;
}
/* /////////////////////////////////SLIDER////////////////*/
.slider{
    display: flex;
    justify-content: center;
}
.slider-container{
    width: 100%;
    gap: .25rem;
    padding: 0;
    margin: 0;
    place-content: center;
}    
.slider-body{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 1em;
    }
    .slider-picture{
        grid-row: 1/2;
    }
    .slider-img{
        width: 16.5rem;
        height: 16.5rem;
        box-shadow:  24px 24px 49px #8b8b8b, -24px -24px 49px #ffffff;
}
    .slider-textos .subtitle{
        font-size: 1.5rem;
        text-align: center;
    }
    .slider-textos .slider-review{
        font-size: 1rem;
        text-align: center;
    }

}


/* -------------------------------------------450px...................................................... */
@media (max-width:450px) {   
    .navbar-section{
        display: flex;
        justify-content: space-around;
        padding: 0rem .5rem;
    }
    .navbar-section .navbar__logo a img{
        width: 160px;
        height: 100%;
    }
    .navbar__logo img{
        padding-left: 15px;
    }
    .icono{
        height: auto;
        width: 65px;
        display: flex;
    }
    .icono span{
        font-size: 2rem;
    }
    .icono .iconFalse{
        display: none;
    }
    .icono.activo .iconTrue{
        display: none;
    }
    .icono.activo .iconFalse{
        display: block;
    }
    
    .textos-header h1{
        font-size: 3.5rem;
    }
    .button-main{
        padding-top: 20rem;
    }
}