@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Cardo:wght@400;700&family=Concert+One&family=Crimson+Pro:ital,wght@0,300;0,500;0,800;1,600&family=Fjalla+One&family=Frank+Ruhl+Libre:wght@300;500;700;900&family=Josefin+Sans:wght@300;500;700&family=Lora:ital,wght@0,500;0,700;1,700&family=Merriweather+Sans:ital,wght@0,300;0,700;0,800;1,800&family=Montserrat:wght@300;400;600;800&family=Nunito+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200&family=Open+Sans:wght@300;400&family=Overpass:wght@100;300;500;800&family=Quicksand:wght@500;700&family=Roboto:wght@300;400;700;900&family=Rubik+Moonrocks&family=Spectral:ital,wght@0,200;0,300;0,500;0,700;0,800;1,600&family=Titillium+Web:wght@200;300;700;900&family=Yatra+One&display=swap');
/* ************************ RESET CSS ******************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {scroll-behavior: smooth;}

body {
    font-family: var(--font--primary);
    width: 100%;
    overflow-x: hidden;
    background-color: #FFFFFF;
}

:root {
    --color-primary: #B6452C;
    --color-secundary: #DDC5A2;

    --font--primary: 'Lora';
    --font--secundary: 'Overpass';
  }

/* **************************** HEADERS ***********************/
.header{
    width: 100%;
    height: 45rem;
    position: relative;
    background-attachment: fixed;
    background-size: 100% 100%; 
    margin: 0 auto;
}
.header--index {
    background-image: linear-gradient(#b6452c7a, #b6452c25), url(https://storage.googleapis.com/smpfusagasuga/todos-color.jpg);
    background-size: cover;
}

.header--nosotros {
    background-image: linear-gradient(to right, #d313139c, #0b3f7088), url(../img/lugares/hacienda-coloma.jpg);
    position: relative;
    background-attachment: fixed;
    background-size: cover;
}

.header--galeria {
    background-image:linear-gradient(#0c3072c7, #0c307200), url(../img/lugares/casona-balmoral.jpg);
    position: relative;
    background-attachment: fixed;
    background-size: cover;
}

.header--contacto {
    background-image:linear-gradient( #26616181, #11632675), url(../img/lugares/centro02.png);
    position: relative;
    background-attachment: fixed;
    background-size: cover;
}
/* *----------------------------------------------NAV-BAR--------------------------------------------------- */
.navbar-section {
    position: relative;
    width: 100%;
    max-width: 75rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    font-family: 'Overpass';
    margin: 0 auto;
}

.navbar__logo{
    display: flex;
    place-content: center;
    width: 14.5rem;
    height: 100%;
}
    .navbar__logo figure{
        width: 100%;
        height: 100%;
    }
    .navbar__logo figure img{
        width: 100%;
        height: 100%;
    }

.nav-main{
    display: flex;
    justify-content: center;
    align-items: center;
}
    .nav.links{
        display: inline-flex;
        justify-content: center; 
        align-items: center;
    }
    .ul-lista{
        display: flex; 
        list-style: none; 
        padding: 0 2rem;
    }
    .ul-lista li{
        padding: 2rem 0; 
    }
    .ul-lista a{
        padding: 2.5rem 1.25rem 1.75rem 1.25rem;
        color:#FFFFFF;
        font-size: 1.2rem;
        font-weight: 400;
        text-decoration: none;
        transition:all .3s ease;
        -webkit-transition:all .3s ease;
        -moz-transition:all .3s ease;
        -ms-transition:all .3s ease;
        -o-transition:all .3s ease;
}
    .ul-lista a:hover, 
    .active{
        border-bottom: 4px solid #DDC5A2;
        padding-bottom: 1.4rem;
    }

.icons-social__nav{
    display: inline-flex;
    gap: .5rem;
}
    .icons-social__nav .icon a{
        margin: 0;
        color: #FFFFFF;
        text-align: center;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        z-index: 2;
        transition: .4s cubic-bezier(0.68, -0.50, .30, 1.5);
        -webkit-transition: .4s cubic-bezier(0.68, -0.50, .30, 1.5);
        -moz-transition: .4s cubic-bezier(0.68, -0.50, .30, 1.5);
        -ms-transition: .4s cubic-bezier(0.68, -0.50, .30, 1.5);
        -o-transition: .4s cubic-bezier(0.68, -0.50, .30, 1.5);     
    }
    .icons-social__nav .icon span{
        position: relative;
        display: block;
        height: 35px;
        width: 35px;
        border-radius: 15%;
        position: relative;
        z-index: 1;
        transition: all .3s ease;
        -webkit-border-radius: 15%;
        -moz-border-radius: 15%;
        -ms-border-radius: 15%;
        -o-border-radius: 15%;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
}
    .icons-social__nav .icon span i{
        line-height: 35px;
        font-size: 20px;
    }
    .icons-social__nav .icon span:hover{
        background-color: #523634;
}

.icono{
    display: none;
}
.li__nosotros{
    cursor: pointer;
}
.li__nosotros i{
    font-size: 1rem;
}

.div__nosotros-menu{
    display: block;
    background: #fff;
    width: 15rem;
    height: 0;
    padding: 0;
    right: 25.5rem;
    z-index: 10;
    position: absolute;
    top: 5rem;
    right: 21.65rem;
    transition: all .3s ease;
}
.mouseover{
    display: flex;
    height: 10rem;
}
.ul__nosotros-menu{
    opacity: 0;
    list-style: none;
    width: 100%;
    height: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .3rem;
    overflow: hidden;
    transition: all .4s ease;
}
.ul--activo{
    opacity: 1;
    height: max-content;
}
.li__nosotros .nosotros-menu--li{
    display: flex;
    color: #000000a6;
    width: 100%;
    height: auto;
    padding: 1rem;
    top: 0;
    font-weight: 400;
    cursor: pointer;
}
.nosotros-menu--li .nosotros-menu--a{
    display: block;
    padding: 1rem;
    width: 100%;
    height: auto;
    padding: 0;
    color:#0000007c;
    font-size: 1rem;
    font-weight: 400;
    transition:all .3s ease;
}
.nosotros-menu--li .nosotros-menu--a:hover{
    border-bottom:  none;
    padding-bottom: 0;
}
.nosotros-menu--li:hover{
    background: #ddc29944;
}

/* -------------------------------- header ----------------------------------*/
.textos-header{
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 75rem;
    height: 70%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.textos-header--index{
    display: grid;
}
    .textos-header__h1{
        position: relative;
        width: 100%;
        max-width: 75rem;
        height: auto;
        font-size: 3rem;
        color: #FFFFFF;
    }
    .textos-header__h1--index{
        text-align: start;
        font-size: 2.5rem;
    }

.div__button{
    position: relative;
    width: 100%;
    height: auto;
    justify-content: start;
    display: inline-flex;
}
    .div__button a{ text-decoration: none;}
    .button-know p{color: #ffffff; font-size: 1.6em; font-family: 'overpass';}
    .know-assets{
        filter: brightness(0) invert(1);
        -webkit-filter: brightness(0) invert(1);
    }
    .button-know{
        display: flex;
        padding: 1rem 1.8rem;
        border: none;
        position: relative;
        overflow: hidden;
        background-color: #B6452C;
        transition: .6s ease;
        z-index: 1;
        color: #fff;
        align-items: center;
        gap: .6rem;
        -webkit-transition: .6s ease;
        -moz-transition: .6s ease;
        -ms-transition: .6s ease;
        -o-transition: .6s ease;
}
    .button-know::before{
        content: '';
        width: 0;
        height: 15rem;
        position: absolute;
        top: 0;
        left: 60%;
        right: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        background: #ddc5a234;
        transition: .8s ease;
        z-index: -1;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -moz-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
        -o-transform: translate(-50%, -50%) rotate(45deg);
        -webkit-transition: .8s ease;
        -moz-transition: .8s ease;
        -ms-transition: .8s ease;
        -o-transition: .8s ease;
}
   .button-know:hover::before{
        width: 100%;
    }
   .button-know:hover{
        color: #fff;
        cursor: pointer;
    }

/* -------------------------------------------WAVE-------------------------------------------- */
.wave{
    height: 12rem; 
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: auto;
}
.wave svg{
    height: 100%; 
    width: 100%;
}
.wave path{
    stroke: none; 
    fill: #FFFFFF;
}

/* ----------------------TO__TOP BTN------------------------*/
.to__top{
    display: grid;
    place-items: center;
    background: #c49227;
    border-bottom: #c49227;
    border-radius: 20%;
    position: fixed;
    bottom: 0;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    color: #FFFFFF;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .6s ease;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}
.to__top.active{
    bottom: 2rem;
    text-decoration: none;
    pointer-events: auto;
    opacity: 1;
    z-index: 10;
}
.to__top:hover{
    background: #52a07b;
    text-decoration: none;
    transform: translateY(-.5rem);
    -webkit-transform: translateY(-.5rem);
    -moz-transform: translateY(-.5rem);
    -ms-transform: translateY(-.5rem);
    -o-transform: translateY(-.5rem);
}
    .to__top i{
        margin: auto;
        text-decoration: none;
        font-size: 1.5rem;
        padding-top: 3px;
    }

/* ...................................VIDEO__INDEX..............................*/
.section__video{
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 75rem;
    margin: 3rem auto;
    gap: 3.5rem;
}
.divsection__video {
    display: flex;
    width: 100%;
    gap: 2rem;
}
    .div__video {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: auto;
    }
    .div__video--index iframe{
        width: 45rem;
        height: 25rem;
    }

.div__infovideo--index {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
    .div__infovideo--down{
        width: 100%;
        max-width: 75rem;
        margin: 0 auto;
    }
    .h2__infovideo {
        color: var(--color-primary);
        font-size: 1.9rem;
        text-align: center;
    }

    .div__infovideo--index p {
        margin: 0 1.5rem;
        font-family: 'Overpass';
        font-size: 1em;
        font-weight: 400;
        line-height: 2em;
        text-align: justify;
        color: #523634;
    }
    .div__infovideo--down p{
        font-family: 'Overpass';
        font-size: 1em;
        font-weight: 400;
        line-height: 2em;
        text-align: justify;
        color: #523634;
    }

/* ........................................NOSOTROS........................................... */
.section__nosotros {
    display: flex;
    justify-content: center;
    flex-flow: column;
    gap: 1.5rem;
    padding: 2.5rem 5%; /* Ajusta el padding a un valor relativo */
    max-width: 75rem; /* Limita el ancho máximo para evitar estiramiento en pantallas grandes */
    margin: 0 auto; /* Centra la sección horizontalmente */
}
    .nosotros__titulo {
        color: var(--color-primary);
        font-size: 2.5rem;
        text-align: center;
        padding: .5rem 1.5rem;
    }
    .decorador__separador {
        width: 3.6rem;
        height: .8rem;
        background-color: var(--color-primary);
        margin: auto;
    }    
    .div__descripcion {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 0;
    }
    .nosotros__descripcion{
        font-family: 'Overpass';
        font-size: 1em;
        font-weight: 400;
        line-height: 1.9em;
        text-align: center;
        color: #523634;
    }
    .div__video--presentacion{
        height: auto;
        width: auto;
        margin: 2rem 0;
    }
    .div__video--presentacion iframe{
        width: 75rem;
        height: 35rem;
    }
    
    .section__myv {
        position: relative;
        background-image: linear-gradient(to right, #d313139c, #0b3f70a9), url(https://storage.googleapis.com/smpfusagasuga/todos2-color.jpg);
        background-attachment: fixed;
        background-size: cover;
        padding: 2rem;
    }
    .div__myv {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 75rem;
        margin: 0 auto;
    }
    .div__mision{
        padding: 0 25rem 0 2rem;
    }
    .div__vision{
        padding: 0 2rem 0 25rem;
    }
    .div__myv--textos{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        gap: .5rem;
        padding: 1rem 2rem;
    }
    .titulo--myv,
    .desc--myv{
        color: #ffffff;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    }
    .desc--myv{
        font-size: 1.1rem;
        font-weight: 400;
        text-align: center;
    }
    .decorador__separador--myv{
        margin: 0 auto 1rem;
        height: .5rem;
        background: var(--color-secundary);
    }

/*----------------------------------------- slider-nosotros -------------------------------------------- */

.section__slider{
    display: flex;
    flex-flow: column wrap;
    padding: 2.5rem 0;
    max-width: 75rem;
    margin: 4rem auto;
    gap: 4rem;
}
    .div__socios{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 0 2.5rem;
    }
    .titulo__socios{
        color: var(--color-primary);
        font-family: 'Lora';
        font-size: 2.5rem;
        font-weight: 800;
        text-align: center;
    }

.div__slider{
    width: 100%;
    max-width: 100vw;
    margin: 1rem auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 3.1rem 1fr 3.1rem;
    align-items: center;
    gap: 1em;
}

.slider__body{
    display: grid;
    gap: 1rem;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    grid-template-columns: 1fr max-content;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}

.slider__body--show{
    opacity: 1;
    pointer-events: unset;
}

.slider__textos{
    display: flex;
    flex-flow: column wrap;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
    color: #523634;
    padding: 1rem 2rem 1rem 0;
    line-height: 1.6rem;
}
    .subtitle{
        font-family: var(--font--primary);
        font-size: 2.5rem;
        color: var(--color-primary);
    }
    .sub-subtitle{
        color: var(--color-primary);
    }
    .sub-subtitle::after{
        content: "";
        display: block;
        width: 7.5rem;
        height: .2rem;
        background-color: var(--color-primary);
        margin-top: .2rem;
    } 
    .sub-p{
        font-size: 1rem;
        font-family: var(--font--secundary);
        line-height: 1.8rem;
    }

    .imagen__socio{
        border-radius: 5%;
        width: 17rem;
        height: 17rem;
        background-image: url(https://storage.googleapis.com/smpfusagasuga/01.jpg);
        background-size: cover;
    }
    .socio--2{
        background-image: url(https://storage.googleapis.com/smpfusagasuga/02.jpg);
        background-size: cover;
    }
    .socio--3{
        background-image: url(https://storage.googleapis.com/smpfusagasuga/03.jpg);
        background-size: cover;
    }
    .socio--4{
        background-image: url(https://storage.googleapis.com/smpfusagasuga/04.jpg);
        background-size: cover;
    }
    .socio--5{
        background-image: url(https://storage.googleapis.com/smpfusagasuga/05.jpg);
        background-size: cover;
    }
    .socio--6{
        background-image: url(https://storage.googleapis.com/smpfusagasuga/06.jpg);
        background-size: cover;
    }
    .socio--7{
        background-image: url(https://storage.googleapis.com/smpfusagasuga/07.jpg);
        background-size: cover;
    }
    .socio--8{
        background-image: url(https://storage.googleapis.com/smpfusagasuga/08.jpg);
        background-size: cover;
    }
    .socio--9{
        background-image: url(https://storage.googleapis.com/smpfusagasuga/09.jpg);
        background-size: cover;
    }
    .socio--10{
        background-image: url(https://storage.googleapis.com/smpfusagasuga/10.jpg);
        background-size: cover;
    }

.slider-arrow{
    cursor: pointer;
    width: 90%;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.slider-arrow:hover{
    transform: scale(1.3);
}
.slider-arrow:nth-of-type(2){
    justify-self: end;
}

/* ---------------------------------------------------GALERIA---------------------------------------------------- */

.section__portafolio{
    overflow: hidden;
    /* background-image: linear-gradient(360deg, #073632 0%, #ffffff 100%); */
    min-height: 100vh;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
    .grid{
        width: 90%;
        max-width: 56.25rem;
        margin: auto;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fit , minmax(12.5rem, 1fr));
        gap: 1rem;
    }
    .grid .img{
        width: 100%;
        height: 100%;
        box-shadow: 1rem 1rem 2rem #0b5c54;
        cursor: pointer;
        transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
    }
    .grid .img:hover{
        transform: scale(.95);
        -webkit-transform: scale(.95);
        -moz-transform: scale(.95);
        -ms-transform: scale(.95);
        -o-transform: scale(.95);
    }
    .grid .img:active{
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }

    .lightbox{
        width: 100%;
        height: 100%;
        background-color: rgb(0,0,0,.4);
        backdrop-filter: blur(1rem);
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        opacity: 0;
        pointer-events: none;
        transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
    }
    .lightbox.isActive{
        opacity: 1;
        pointer-events: auto;
        z-index: 1;
    }
    .lightbox .div-close{
        width: 50%;
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .lightbox .close{
        width: 3rem;
        background-color: transparent;
        color: white;
        cursor: pointer;
        border: none;
        transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
    }
    .lightbox .close:hover{
        transform:scale(.85);
        -webkit-transform:scale(.85);
        -moz-transform:scale(.85);
        -ms-transform:scale(.85);
        -o-transform:scale(.85);
}
    .lightbox .close:active{
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
}
    .lightbox .grande{
        width: 50vw;
        height: 50vh;
        box-shadow: 0 0 2rem 0 rgb(0,0,0,.4);
    }

/*---------------------------------------------------- FOOTER----------------------------------*/
.footer{
    background-image: linear-gradient(#2c2a29, #2c2a29d3), url(/img/lugares/centro01.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Overpass';
    display: grid;
    grid-template-rows: 3 auto;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
}
.grupo-1{
    display: flex;
    justify-content: space-around;
    text-align: justify;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    height: auto;
    padding: 2.5rem 0 5rem 0;
    position: relative;
}
.grupo-1::after {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 100vw;
    height: 1px;
    background-color: #ffffff5d; /* Color del borde */
}
    .box-1{
        display: flex;
        width: 250px;
        height: 230px;
        position: absolute;
        left: 0;
        bottom: 1rem;
        top: 1rem;
    }
    .box-1 .footer__logo{
        width: 100%;
        height: 100%;
    }
    .footer__logo img{
        width: 100%;
        height: 100%;
    }

    .box-2{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
    }

    .box-2 h2{
        color: #fff;
        padding-bottom: 2rem;
        font-family: 'Lora';
        font-size: 2rem;
    }
    .box-2 .know{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .know a{
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        transition: .3s ease;
    }
    .know a:hover{
        color: #DDC5A2;
    }
    .box-3{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-decoration: none;
        position: absolute;
        right: 0;
        top: 2.3rem;
    }
    .box-3 h2{
        color: #fff;
        padding: .11rem 0 2rem 0;
        font-family: 'Lora';
        font-size: 2rem;
    }
    .box-3 .items{
        display:flex;
        flex-direction: column;
        color: #fff;
        gap: 1rem;
        text-decoration: none;
    }
    .items a{
        text-decoration: none;
        color: #fff;
    }
    .items ul li{
        list-style: none;
        cursor: pointer;
        transition: .3s ease;
        display: flex;
        gap: 1rem;
    }
    .items li:hover{
        color: #DDC5A2;
    }

            .icons-social-footer.black i{
                display: inline-flex;
                gap: .5rem;
            }
            .icons-social-footer.black a{
                border: 1px solid #000000;
            }
            .icons-social-footer.black a:hover {
                color: #fff;
                font-size: 1.3rem;
                font-weight: 900;
            }

    .icons-social-footer i{
        display: inline-flex;
        gap: .5rem;
    }

    .icons-social-footer a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        color:#fff;
        text-decoration: none;
        border: 1px solid #ffffff5d;
        width: 2.5rem;
        height: 2.5rem;
}
    .icons-social-footer a:hover{
        color: #fff;
        font-size: 1.3rem;
        font-weight: 900;
    }
    .fb:hover{background: #3b5998;}
    .in:hover{background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);}
    .tw:hover{background: #00acee;}
    .yt:hover{background: #c4302b;}

.grupo-2{
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    height: auto;
    padding: 1.9rem 0 1.9rem 0;
    position: relative;
}
.grupo-2::after {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 100vw;
    height: 1px;
    background-color: #ffffff5d;
}
    .logo-g2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo-g2--1{
        position: absolute;
        left: 0;
    }
    .logo-g2--3{
        position: absolute;
        right: 0;
    }
    .logo-g2 img{
        display: inline-block;
        filter: brightness(0) invert(1);
        width: 220px;
        height: auto;
    }

.grupo-3{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1.25rem 0 1.25rem 0;
    color: #fff;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
}
    .grupo-3 small{
        font-size: .9rem;
    }
    .design{
        display: flex;
    }
    .design a{
        text-decoration: none;
        justify-content: center;
    }
    .design a small{
        transition: .1s ease;
        color: #fff;
    }
    .design small:hover{
        color: #DDC5A2;
    }

/* ------------------------------formulario -----------------------------------------*/
.contact{
    font-family: 'Overpass';
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    gap: 1.5rem;
}
.contact-info{
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column wrap;
    justify-content: space-around;
    padding-right: 3rem;
}
    .contact-info h2{
        font-family: 'Lora';
        text-align: start;
        font-size: 2em;
        font-weight: 600;
        color: #B6452C;
    }
    .contact-info p{
        font-size: 1em;
        font-weight: 300;
        line-height: 1.5;
    }
    .box-contact-info{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    .box-contact-info .items-contact{
        display:flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .items-contact ul{
        display: flex;
    }
    .box-contact-info .items-contact a{
        text-decoration: none;
        color:#000000;
    }
    .box-contact-info .items-contact li{
        display: flex;
        gap: 1rem;
        font-weight: 400;
        cursor: pointer;
}
    .box-contact-info .items-contact li:hover{
        color: #B6452C;
    }

.icons-social-contact{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
    .icons-social-contact h3{
        font-size: 1em;
        font-weight: 300;
        line-height: 1.5;
    }
    .icons-social-contact a{
        display: inline-flex;
        justify-content: center;
        color:#000000;
        font-weight: 400;
}
   /*///////////////////////////////////////////// */
.form{
    background-image: linear-gradient(to right, #f4a36123, #e9c56a75);
    font-family: 'Overpass';
    width: 100%;
    max-width: 100%;
    padding: 2rem;
    margin: auto;
}
    .form-container{
        width: 100%;
        display: grid;
        gap: 1em;
        grid-auto-columns: 100%;
    }
    .form-container label{
        font-family: 'Overpass';
        font-size: 1rem;
        font-weight: 350;
        color: #B6452C;
    }
    .form-input{
        font-family: 'Overpass';
        font-size: 1rem;
        font-weight: 300;
        padding: .8rem;
        outline: none;
        border: none;
        border: 1px solid #17C3B2;
        border-radius: 0.2em;
        -webkit-border-radius: 0.2em;
        -moz-border-radius: 0.2em;
        -ms-border-radius: 0.2em;
        -o-border-radius: 0.2em;
    }
    .form-input--message{
        resize: vertical;
        padding: 1rem 1rem 4rem;
        margin-bottom: .5em;
    }
.button-send{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*** ESTILOS BOTÓN GROW SKEW ***/
.s-button{
    font-weight: 700;
    font-size: 1em;
    width: 100%;
    background: #C49227;
    border: 1px solid #52A07B;
    padding: 16px 20px;
    border-radius: 0.2em;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    transition: all .3s ease;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    cursor: pointer;
}
    .s-button:hover {
        color: #fff;
        font-weight: 600;
        font-size: 1em;
    }
    .s-button::after {
        content: "";
        background: #52A07B;
        position: absolute;
        z-index: -1;
        padding: 16px 20px;
        display: block;
        left: -20%;
        right: -20%;
        top: 0;
        bottom: 0;
        transform: skewX(-45deg) scale(0, 1);
        transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
}
    .s-button:hover::after {
        transition: all .5s ease-out;
        transform: skewX(-45deg) scale(1, 1);
        -webkit-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        -ms-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
        -webkit-transform: skewX(-45deg) scale(1, 1);
        -moz-transform: skewX(-45deg) scale(1, 1);
        -ms-transform: skewX(-45deg) scale(1, 1);
        -o-transform: skewX(-45deg) scale(1, 1);
}
/* ---------------------------------------GOOGLE MAPS ------------------------------------*/
.google-maps{
    display: flex;
    justify-content: center;
    padding: 20px;
}
#map{
    height: 500px;
    width: 100%;
}

