:root {
  --color-primary: linear-gradient(to right, #31aa61, #064a8f);
  --color-secundary: #DDC5A2;
  --font--primary: "Lora";
  --font--secundary: "Overpass";
  --bg-button-primary: linear-gradient(to right, #25a4c4, #787965);
  --bg-button-hover: linear-gradient(to right, #11998e, #38ef7d);
  --bg-lg-1: linear-gradient(to right, #d313139c, #0b3f7088);
  --bg-lg-2: linear-gradient(#2783459c, #09182700);
  --bg-lg-3: linear-gradient(#17418f8a, #0c307200);
  --bg-lg-4: linear-gradient( #26616194, #11632562);
  --bg-myv: linear-gradient(#7a2a2a50, #0a80478c);
}

.et-hero-tabs,
.et-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background-image: var(--bg-lg-3), url(https://storage.googleapis.com/smpfusagasuga/A01-REC.jpg);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  padding: 0 2em;
}
#tab-es6{
  background-image: var(--bg-lg-3), url(https://storage.googleapis.com/smpfusagasuga/hacienda-coloma.jpg);
}
#tab-flexbox{
  background-image: var(--bg-lg-3), url(https://storage.googleapis.com/smpfusagasuga/casona-tierra-grata0.jpeg);
}
#tab-react{
  background-image: var(--bg-lg-3), url(https://storage.googleapis.com/smpfusagasuga/atardecer.jpg);
}
.et-hero-tabs h1,
.et-slide h1 {
  font-size: 2rem;
  font-family: var(--font--primary);
  color: #ffffff;
  margin: 0;
  letter-spacing: .5rem;
}
.et-hero-tabs h3,
.et-slide h3 {
  color: #ffffff;
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
  text-decoration: none;
}

.et-slide > p{
  color: #ffffff;
  line-height: 2rem;
  font-family: var(--font--secundary);
  font-size: 1em;
  opacity: 0.9;
  font-weight: 400;
  backdrop-filter: blur(10px);
  padding: 2rem 8rem;
  max-width: 60rem;
  margin: 1rem auto;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
}
.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease;
  text-decoration: none;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.et-hero-tab:hover {
  color: white;
  background: var(--bg-button-hover);
  transition: all 0.5s ease;
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #66B1F1;
  transition: left 0.3s ease;
}

@media (min-width: 800px) {
  .et-hero-tabs h1,
  .et-slide h1 {
    font-size: 3rem;
  }
  .et-hero-tabs h3,
  .et-slide h3 {
    font-size: 1rem;
  }
  .et-hero-tab {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=stylesc.css.map */
