@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Cardo:wght@400;700&family=Concert+One&family=Crimson+Pro:ital,wght@0,300;0,500;0,800;1,600&family=Fjalla+One&family=Frank+Ruhl+Libre:wght@300;500;700;900&family=Josefin+Sans:wght@300;500;700&family=Lora:ital,wght@0,500;0,700;1,700&family=Merriweather+Sans:ital,wght@0,300;0,700;0,800;1,800&family=Montserrat:wght@300;400;600;800&family=Nunito+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200&family=Open+Sans:wght@300;400&family=Overpass:wght@100;300;500;800&family=Quicksand:wght@500;700&family=Roboto:wght@300;400;700;900&family=Rubik+Moonrocks&family=Spectral:ital,wght@0,200;0,300;0,500;0,700;0,800;1,600&family=Titillium+Web:wght@200;300;700;900&family=Yatra+One&display=swap');
/* ************************ RESET CSS ******************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Lora';
    width: 100%;
    max-width: 100%;
    margin: auto;
    overflow-x: hidden;
    background-color: #F5EFC4;
}

/* **************************** HEADERS ***********************/
.header{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
}
.header--index {
    background-image: linear-gradient(to right, #301b2879, #b6452cbb), url(../img/fusa8.jpg);
}

.header--nosotros {
    background-image: linear-gradient(to right, #d313139c, #8510c923), url(../img/fusa7.jpg);
    position: relative;
    background-attachment: fixed;
    background-size: cover;
}

.header--galeria {
    background-image: linear-gradient(to right, #8f530e8a, #984eaf8f), url(../img/fusa3.jpg);
    position: relative;
    background-attachment: fixed;
    background-size: cover;
}

.header--contacto {
    background-image: linear-gradient(to right, #32632ea6, #198b8b8f), url(../img/fusa2.jpg);
    position: relative;
    background-attachment: fixed;
    background-size: cover;
}
/* *----------------------------------------------NAV-BAR--------------------------------------------------- */
.navbar-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.247); */
    font-family: 'Overpass';
    z-index: 10;
    transition: all 1s ease;
    /*Configuracióndelatransición*/-webkit-transition: background 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.navbar__logo{
    display: flex;
    place-content: center;
    width: 14.5rem;
    height: 100%;
}
    .navbar__logo figure{
        width: 100%;
        height: 100%;
    }
    .navbar__logo figure img{
        width: 100%;
        height: 100%;
    }

.nav-main{
    display: flex;
    justify-content: center;
    align-items: center;
}
    .nav.links{
        display: inline-flex;
        justify-content: center; 
        align-items: center;
    }
    .ul-lista{
        display: flex; 
        list-style: none; 
        padding: 0 30px;
    }
    .ul-lista li{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .ul-lista a{
        padding-top: 40px;
        padding-bottom: 28px;
        padding-left: 20px;
        padding-right: 20px;
        color:#fff;
        font-size: 17px;
        text-decoration: none;
        transition:all .3s ease;
        -webkit-transition:all .3s ease;
        -moz-transition:all .3s ease;
        -ms-transition:all .3s ease;
        -o-transition:all .3s ease;
}
    .ul-lista a:hover, 
    .active{
        color: #DDC5A2;
        border-bottom: 4px solid #DDC5A2;
        padding-bottom: 23px;
    }

.icons-social__nav{
    display: inline-flex;
}
    .icons-social__nav .icon{
        margin: 0 20px;
        color: #ffffff;
        text-align: center;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        z-index: 2;
        transition: .4s cubic-bezier(0.68, -0.50, .30, 1.5);
        -webkit-transition: .4s cubic-bezier(0.68, -0.50, .30, 1.5);
        -moz-transition: .4s cubic-bezier(0.68, -0.50, .30, 1.5);
        -ms-transition: .4s cubic-bezier(0.68, -0.50, .30, 1.5);
        -o-transition: .4s cubic-bezier(0.68, -0.50, .30, 1.5);     
    }
    .icons-social__nav .icon span{
        position: relative;
        display: block;
        height: 35px;
        width: 35px;
        border-radius: 15%;
        position: relative;
        z-index: 1;
        transition: all .3s ease;
        -webkit-border-radius: 15%;
        -moz-border-radius: 15%;
        -ms-border-radius: 15%;
        -o-border-radius: 15%;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
}
    .icons-social__nav .icon span i{
        line-height: 35px;
        font-size: 20px;
    }
    .icons-social__nav .icon span:hover{
        background-color: #523634;
}

.icono{
    display: none;
}
/* -------------------------------- header ----------------------------------*/
header .textos-header{
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
    .textos-header .textos-header__h1{
        position: relative;
        width: 80%;
        height: auto;
        font-size: 3rem;
        color: #fff;
    }
    .textos-header__h1--index{
        text-align: left;
    }

    .textos-header .hidden-text{
        position: relative;
        width: 90%;
        top: 3em;
    }
        .hidden-text h3{
            color: #FFFFFF29;
            font-size: 9em;
        }

/* ------------------------------------------boton conocenos---------------------------------------- */
.button-main{
    position: relative;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
}
    .button-main a{ text-decoration: none;}
    .button-know p{color: #DDC5A2; font-size: 1.4em;}
    .know-assets{
        filter: brightness(0) invert(1);
        -webkit-filter: brightness(0) invert(1);
    }
    .button-main .button-know{
        display: flex;
        padding: 0.7rem 1.4rem;
        border: none;
        position: relative;
        overflow: hidden;
        background-color: #B6452C;
        transition: .6s ease;
        z-index: 1;
        color: #fff;
        align-items: center;
        gap: .6rem;
        -webkit-transition: .6s ease;
        -moz-transition: .6s ease;
        -ms-transition: .6s ease;
        -o-transition: .6s ease;
}
    .button-know::before{
        content: '';
        width: 0;
        height: 15rem;
        position: absolute;
        top: 0;
        left: 60%;
        right: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        background: #ddc5a234;
        transition: .8s ease;
        z-index: -1;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -moz-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
        -o-transform: translate(-50%, -50%) rotate(45deg);
        -webkit-transition: .8s ease;
        -moz-transition: .8s ease;
        -ms-transition: .8s ease;
        -o-transition: .8s ease;
}
   .button-know:hover::before{
        width: 100%;
    }
   .button-know:hover{
        color: #fff;
        cursor: pointer;
    }

/* -------------------------------------------WAVE-------------------------------------------- */
.wave{
    height: 150px; 
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.wave svg{
    height: 100%; 
    width: 100%;
}
.wave path{
    stroke: none; 
    fill: #F5EFC4;
}

/* ----------------------TO__TOP BTN------------------------*/
.to__top{
    background: #E77C24;
    position: fixed;
    bottom: .5rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 5%;
    display: flex;
    font-size: 2.5rem;
    color: #FFFFFF;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    display: flex;
    transition: all .6s ease;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
}
.to__top.active{
    bottom: 2rem;
    pointer-events: auto;
    opacity: 1;
    z-index: 10;
}
.to__top:hover{
    transform: translateY(-.5rem);
    -webkit-transform: translateY(-.5rem);
    -moz-transform: translateY(-.5rem);
    -ms-transform: translateY(-.5rem);
    -o-transform: translateY(-.5rem);
}
    .to__top i{
        margin: auto;
    }

/* ...................................VIDEO__INDEX..............................*/
.section__video {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    margin: 2.5rem;
    gap: 1rem;
}

.div__infovideo {
    flex: 1;
    padding: 1.25rem;
}
    .div__infovideo h2 {
        color: #B6452C;
        font-size: 1.9rem;
        margin-bottom: 0.8rem;
    }

    .div__infovideo p {
        font-family: 'Overpass';
        font-size: 1em;
        font-weight: 400;
        line-height: 1.9em;
        color: #523634;
    }

.div__video {
    flex: 1.25;
    padding: 1.25rem;
    background-color: #DDC5A2;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
    .video__index {
        width: 100%;
    }

/* ........................................NOSOTROS........................................... */
.section__nosotros{
    display: flex;
    flex-flow: column;
    gap: 1rem;
    padding: 0 100px 45px;
}
    .nosotros__titulo {
        color: #B6452C;
        font-size: 1.9rem;
        text-align: center;
        padding: 1rem 1.8rem;
    }
    .div__descripcion{
        display: block;
        margin: auto;
    }
    .nosotros__descripcion{
        font-family: 'Overpass';
        font-size: 1em;
        font-weight: 400;
        line-height: 1.9em;
        text-align: center;
        color: #523634;
    }
    .div__myv{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        margin-top: 4rem;;
    }
    .div__mision,
    .div__vision {
    flex-grow: 1;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

/*----------------------------------------- slider-nosotros -------------------------------------------- */

.section__slider{
    background-color: #F5EFC4;
    padding: 40px 0;
}

.div__slider{
    width: 90%;
    min-height: 50vh;
    max-width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1em;
}

.slider__body{
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    grid-template-columns: 1fr max-content;
    align-items: center;
    border-radius: 1rem;
    transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.slider__body--show{
    opacity: 1;
    pointer-events: unset;
}

.slider__textos{
    width: 80%;
    height: auto;
    color: #523634;
    padding: 1.5rem;
    line-height: 1.5rem;
}

    .subtitle{
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

.img__slider{
    width: 15rem;
    height: 15rem;
    border: 1.5px solid #523634;
    border-radius: 1rem;
    object-fit: cover;
    margin: auto;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.slider-arrow{
    cursor: pointer;
    width: 90%;
    transition: all .6s ease;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
}
.slider-arrow:hover{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}
.slider-arrow:nth-of-type(2){
    justify-self: end;
}

/* ---------------------------------------------------GALERIA---------------------------------------------------- */

.section__portafolio{
    overflow: hidden;
    /* background-image: linear-gradient(360deg, #073632 0%, #ffffff 100%); */
    min-height: 100vh;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
    .grid{
        width: 90%;
        max-width: 56.25rem;
        margin: auto;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fit , minmax(12.5rem, 1fr));
        gap: 1rem;
    }
    .grid .img{
        width: 100%;
        height: 100%;
        box-shadow: 1rem 1rem 2rem #0b5c54;
        cursor: pointer;
        transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
    }
    .grid .img:hover{
        transform: scale(.95);
        -webkit-transform: scale(.95);
        -moz-transform: scale(.95);
        -ms-transform: scale(.95);
        -o-transform: scale(.95);
    }
    .grid .img:active{
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }

    .lightbox{
        width: 100%;
        height: 100%;
        background-color: rgb(0,0,0,.4);
        backdrop-filter: blur(1rem);
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        opacity: 0;
        pointer-events: none;
        transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
    }
    .lightbox.isActive{
        opacity: 1;
        pointer-events: auto;
        z-index: 1;
    }
    .lightbox .div-close{
        width: 50%;
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .lightbox .close{
        width: 3rem;
        background-color: transparent;
        color: white;
        cursor: pointer;
        border: none;
        transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
    }
    .lightbox .close:hover{
        transform:scale(.85);
        -webkit-transform:scale(.85);
        -moz-transform:scale(.85);
        -ms-transform:scale(.85);
        -o-transform:scale(.85);
}
    .lightbox .close:active{
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
}
    .lightbox .grande{
        width: 50vw;
        height: 50vh;
        box-shadow: 0 0 2rem 0 rgb(0,0,0,.4);
    }

/*---------------------------------------------------- FOOTER----------------------------------*/

.footer{
    background-color:#301B28;
    font-family: 'Overpass';
    /* width: 100%; */
    display: grid;
    grid-template-rows: 3 auto;
    overflow: hidden;
}
.grupo-1{
    display: flex;
    justify-content: space-evenly;
    text-align: justify;
    width: 100%;
    height: auto;
    padding: 30px 0 30px 0;
    border-bottom: 1px solid #DDC5A2;
}
    .box-1{
        display: flex;
        width: 250px;
        height: 230px;
    }
    .box-1 .footer__logo{
        width: 100%;
        height: 100%;
    }
    .footer__logo img{
        width: 100%;
        height: 100%;
    }

    .box-2{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: baseline;
    }

    .box-2 h2{
        color: #fff;
        padding-bottom: 2rem;
    }
    .box-2 .know{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .know a{
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        transition: .3s ease;
    }
    .know a:hover{
        color: #DDC5A2;
    }
    .box-3{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: baseline;
        text-decoration: none;
    }
    .box-3 h2{
        color: #fff;
        padding-bottom: 2rem;
    }
    .box-3 .items{
        display:flex;
        flex-direction: column;
        color: #fff;
        gap: .8rem;
        text-decoration: none;
    }
    .items a{
        text-decoration: none;
        color: #fff;
    }
    .items ul li{
        list-style: none;
        cursor: pointer;
        transition: .3s ease;
        display: flex;
        gap: 1rem;
    }
    .items li:hover{
        color: #DDC5A2;
    }

    .icons-social-footer{
        display: flex;
    }
    .icons-social-footer i{
        display: inline-flex;
        gap: 2rem;
    }

    .icons-social-footer a{
        display: inline-flex;
        justify-content: center;
        color:#fff;
        text-decoration: none;
    }
    .icons-social-footer a:hover{
        color: #DDC5A2;
    }

.grupo-2{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    padding: 30px 0 30px 0;
    border-bottom: 1px solid #DDC5A2;
}
    .logo-g2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo-g2 img{
        display: inline-block;
        filter: brightness(0) invert(1);
        width: 220px;
        height: auto;
    }

.grupo-3{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 20px 0 20px 0;
    color: #fff;
}
    .grupo-3 small{
        font-size: 14px;
    }
    .design{
        display: flex;
        justify-content: center;
    }
    .design a{
        text-decoration: none;
        justify-content: center;
        font-size: 12px;
        color: #9e9797;
        font-family: 'Overpass';
    }
    .design a small{
        transition: .1s ease;
        color: #fff;
    }
    .design small:hover{
        color: #DDC5A2;
    }

/* --------------------------- scroll personalizado -------------------------------- */

body::-webkit-scrollbar {
    width: 1vw;
}

body::-webkit-scrollbar-thumb {
    background: #523634;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

/* ------------------------------formulario -----------------------------------------*/
.contact{
    font-family: 'Overpass';
    display: grid;
    grid-template-columns: 55% 45%;
    padding: 2em 3em 5em;
}
.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}
    .contact-info h2{
        text-align: justify;
        font-size: 2em;
        font-weight: 600;
    }
    .contact-info p{
        font-size: 1em;
        font-weight: 400;
        line-height: 1.5;
    }
    .box-contact-info{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .box-contact-info .items-contact{
        display:flex;
        flex-direction: column;
        gap: .8rem;
    }
    .box-contact-info .items-contact a{
        text-decoration: none;
        color:#000000;
    }
    .box-contact-info .items-contact li{
        list-style: none;
        font-weight: 300;
        cursor: pointer;
        transition: .2s ease;
        -webkit-transition: .2s ease;
        -moz-transition: .2s ease;
        -ms-transition: .2s ease;
        -o-transition: .2s ease;
}
    .box-contact-info .items-contact li:hover{
        font-weight: 600;
    }

.icons-social-contact{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
    .icons-social-contact h3{
        font-size: 1em;
        font-weight: 400;
        line-height: 1.5;
    }
    .icons-social-contact i{
        display: flex;
        gap: 1em;
    }
    .icons-social-contact a{
        display: inline-flex;
        justify-content: center;
        color:#000000;
        font-weight: 400;
        transition: .3s ease;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -ms-transition: .3s ease;
        -o-transition: .3s ease;
}
    .icons-social-contact a:hover{
        transform: scale(1.4);
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -ms-transform: scale(1.4);
        -o-transform: scale(1.4);
}
   /*///////////////////////////////////////////// */
.form{
    background-image: linear-gradient(120deg, #1ef37e2a 0%, #1cebd644 100%);
    font-family: 'Overpass';
    width: 100%;
    max-width: 100%;
    /* border-radius: 1em; */
    /* -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em; */
    padding: 3.5em 1.5em;
    margin: auto;
    /* box-shadow: #0c8579 8px 8px 10px; */
}
    .form-container{
        width: 100%;
        display: grid;
        gap: 1em;
        grid-auto-columns: 100%;
    }
    .form-title{
        text-align: center;
        font-size: 1.9rem;
        margin-bottom: .4em;
        color: #094e47;
    }
    .form-container label{
        font-family: 'Overpass';
        font-size: 1rem;
        font-weight: 300;
    }
    .form-input{
        font-family: 'Overpass';
        font-size: 1rem;
        padding: .8em .8em;
        outline: none;
        border: none;
        border: 1px solid #17C3B2;
        border-radius: 0.2em;
        -webkit-border-radius: 0.2em;
        -moz-border-radius: 0.2em;
        -ms-border-radius: 0.2em;
        -o-border-radius: 0.2em;
    }
    .form-input--message{
        resize: vertical;
        padding: 1em 1em 4em;
        margin-bottom: .5em;
    }
.button-send{
    display: flex;
    align-content: center;
}
/*** ESTILOS BOTÓN GROW SKEW ***/
.s-button{
    font-family: 'Overpass';
    font-weight: 500;
    font-size: 1em;
    width: 100%;
    background: #1df5a2;
    border: 1px solid #17C3B2;
    padding: 16px 20px;
    border-radius: 0.2em;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    transition: all .3s ease;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    cursor: pointer;
}
    .s-button:hover {
        color: #fff;
        font-weight: 600;
        font-size: 1em;
    }
    .s-button::after {
        content: "";
        background: #17c3b2d3;
        position: absolute;
        z-index: -1;
        padding: 16px 20px;
        display: block;
        left: -20%;
        right: -20%;
        top: 0;
        bottom: 0;
        transform: skewX(-45deg) scale(0, 1);
        transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
}
    .s-button:hover::after {
        transition: all .5s ease-out;
        transform: skewX(-45deg) scale(1, 1);
        -webkit-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        -ms-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
        -webkit-transform: skewX(-45deg) scale(1, 1);
        -moz-transform: skewX(-45deg) scale(1, 1);
        -ms-transform: skewX(-45deg) scale(1, 1);
        -o-transform: skewX(-45deg) scale(1, 1);
}
/* ---------------------------------------GOOGLE MAPS ------------------------------------*/
.google-maps{
    display: flex;
    justify-content: center;
    padding: 20px;
}
#map{
    height: 500px;
    width: 100%;
}

